{
    "database": {
        "username": "golbatdbuser",
        "password": "golbatdbpassword",
        "host": "127.0.0.1",
        "port": "3306",
        "name": "golbatdbname"
    },
    "discord": {
        "token": "yourdiscordbottoken",
        "channelIDs": {
            "yourdiscordchannelid": "YourExistingMessageIDIfExists",
            "moardiscordchannelidsdeleteifnotneededormakemoar": "YourExistingMessageIDIfExists"
        },
        "emojis": {
            "valor": "🔴",
            "mystic": "🔵",
            "instinct": "🌕",
            "uncontested": "⚪️",
            "normal": "🎣",
            "glacial": "❄️",
            "mossy": "🌿",
            "magnetic": "🧲",
            "rainy": "💧",
            "sparkly": "🥇",
            "scanned": "📈",
            "hundo": "💯",
            "nundo": "🗑️",
            "shinies": "✨"
        }
    },
    "api": {
        "url": "http://127.0.0.1:9005",
        "secret": "yourgolbatsecret"
    },
    "coordinates": {
        "min": {
            "latitude": 50.8,
            "longitude": -7.6
        },
        "max": {
            "latitude": 58.6,
            "longitude": 1.8
        }
    },
    "config": {
        "refreshInterval": 60,
        "includeActiveCounts": true
    }
}